VITE_FIREBASE_API_KEY=AIzaSyBS_KFq-QLD89xyq1kTE3FJ62E8HFP09BI
VITE_FIREBASE_AUTH_DOMAIN=rofriends-ab0b8.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rofriends-ab0b8
VITE_FIREBASE_STORAGE_BUCKET=rofriends-ab0b8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=309137703504
VITE_FIREBASE_APP_ID=1:309137703504:web:ee535debe2c015630ec755
